{% extends "posts/base.html" %}
{% block content %}
{% for post in posts %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <small class="mr-2" >{{ post.author }}</small>
          <small class="text-muted">{{ post.last_modified }}</small>
          <small class="text-muted"> To authority: {{ post.related_authority.username}}</small>
          <small class="text-muted"> Resolved: {{post.is_resolved}}</small>
        </div>
        <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
      </div>
    </article>
{% endfor %}
{% endblock content%}