{% extends "posts/base.html" %}
{% block content %}

<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ object.author }}</a>
      <small class="text-muted">{{ object.last_modified }}</small>
      <small class="text-muted"> To authority: {{ post.related_authority.username}}</small>
      <small class="text-muted"> Resolved: {{post.is_resolved}}</small>

    </div>
    <h2 class="article-title">{{ object.title }}</h2>
    <p class="article-content">{{ object.content }}</p>
      <div>

    {% if object.author == user %}
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
    {% elif object.related_authority == user and not object.is_resolved %}
        <a class="btn btn btn-outline-info btn-sm mt-1 mb-1" href="{% url 'reply-post' object.id %}">Reply</a>
    {% endif %}
    {% if object.is_resolved %}
      <h4>Reply by authority</h4>
      <p class="article-content">{{ object.reply_by_authority }}</p>
    {% endif %}
    </div>
  </div>

</article>

{% endblock content%}